- name: Initialize Kubernetes master
  command: kubeadm init --pod-network-cidr=192.168.0.0/16
  args:
    creates: /etc/kubernetes/admin.conf

- name: Create .kube directory
  file:
    path: /home/ec2-user/.kube
    state: directory
    owner: ec2-user
    group: ec2-user
    mode: '0755'

- name: Copy admin kubeconfig
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ec2-user/.kube/config
    owner: ec2-user
    group: ec2-user
    mode: '0644'
    remote_src: yes

- name: Generate join command with private IP
  shell: |
    kubeadm token create --print-join-command | sed "s/master/{{ master_private_ip }}/"
  register: join_cmd
  changed_when: false

- name: Save join command for workers
  copy:
    content: "{{ join_cmd.stdout }}"
    dest: /tmp/kubeadm_join.sh
    mode: '0755'